.colunaDireita{  
    text-align: left;  
}  
.colunaEsquerda{  
    font-weight: bold;
    text-align: right;    
}  

.colunaCentro{  
    font-weight: bold;
    text-align: center;    
}  

.colunaCentroPlano{  
    font-weight: bold;
    text-align: center;   
} 

.painel {
    line-height:150%;
    border: 1px solid;
    border-color: #919191;
    color: #646264;
}

.ui-top, .ui-top .ui-layout, .ui-top .ui-layout-bd, .ui-top .ui-layout-unit {
    background-color: #FFD8AA;
}

.ui-layout-unit-content{
    background-color: #FFD8AA;
    color: black;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

.ui-menu
{

}

.ui-menu-unit
{
    background-color: black;
}

body {
    background-color:#DB5B24;
    font-size: 12px;
}
.layoutPrincipal {
    min-width:1024px;max-width:1024px;min-height:768px;max-height:768px;
}

.botao  {
    font-size: 14px;
    color: #ffffff;
    padding: 10px 20px;
    background: -moz-linear-gradient(
        top,
        #ffd9aa 0%,
        #db5b24 50%,
        #db5b24);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#ffd9aa),
        color-stop(0.50, #db5b24),
        to(#db5b24));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #db5b24;
    -moz-box-shadow:
        0px 1px 3px rgba(219,91,36,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.6);
    -webkit-box-shadow:
        0px 1px 3px rgba(219,91,36,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.6);
    box-shadow:
        0px 1px 3px rgba(219,91,36,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.6);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0),
        0px 1px 0px rgba(255,255,255,0.2);
}


.botao:hover {
    color: black;
}

.inputLogin
{
    display:block;
    margin:0px auto 5px;
    border-radius:5px;
    width:75%;
    padding:5px 10px 5px 5px;
    border:none;                
    box-shadow:inset 0px 1px 5px #272727;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    -ms-transition:0.5s ease;
    transition:0.5s ease; 
}

.perfil {
    margin-left: 360px;
    text-align: right;
    margin-top: 5px;
    font-weight: bold;
}

#boasVindas {
    position: absolute;
    margin-left: 335px;
}

#titulo {
    padding-top: 50px;
    font-size: 29pt;
    font-variant: small-caps;
    font-weight: bold;
}

#logo {
    text-align: right;
    float:right;
}